body {
    background-color: lightsalmon;    
}

h1, p {
    color: beige;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}


.ui {
    text-align: center;
    position: relative;
}

.clearButtonDiv {
    display:block;
    margin: 20px;

}

.gridResDiv {
    display:block;
    margin: 50px;

}

.drawingArea {
    display: inline-block;    
    border: 5px solid beige;
    width: 500px;
    height: 500px;
    border-radius: 7px;
    background-color: white;
}

.oneSix {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);

}

.grid {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);

}

.pixel {
    border-width: 0px;
    margin: 0px;
    padding:0px;
}

.colorDiv {
    display:block;
    margin: 30px 45%;
    padding: 10px;
    border-radius: 50px;
}

.colorBtn {
    border-style: none;
    border-radius: 7px;
    text-decoration: wavy;
    color: white;
    background-color: black;
}

button {
    cursor: pointer;
}